@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

:host {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.transport-details {

  @include media-breakpoint-up(md) {
    //min-width: 640px;
  }

  &-content {
    position: relative;
    width: 100%;
    min-height: 400px;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: row;
    }
  }

  &-sidebar {
    background-color: rgba($gray, 0.5);
    transition: transform 0.2s ease-in;

    .transport-details--selected & {
      transform: translateX(-100%);
      position: absolute;

      @include media-breakpoint-up(sm) {
        transform: translateX(0);
        position: static;
      }
    }

    @include media-breakpoint-up(sm) {
      flex-basis: 40%;
    }
  }

  &-form {
    position: absolute;
    transform: translateX(100vw);
    transition: transform 0.2s ease-in;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      position: relative;
      margin-left: 15px;
      flex-basis: calc(60% - 15px);
      transform: translateX(0);
    }

    @include media-breakpoint-up(md) {
      margin-left: 25px;
      flex-basis: calc(60% - 25px);
      flex-direction: column;
    }

    .transport-details--selected & {
      position: static;
      display: block;
      transform: translateX(0);

      @include media-breakpoint-up(md) {
        display: flex;
      }
    }

  }
}
