@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  //@include media-breakpoint-up(sm) {
  //  display: flex;
  //  flex-direction: column;
  //  flex-grow: 1;
  //}
}

.transport-details {

  @include media-breakpoint-up(md) {
    //min-width: 640px;
  }

  &-content {
    position: relative;
    margin-top: 8px;
    width: 100%;
    //min-height: 400px;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: row;
    }
  }

  &-sidebar {
    margin-top: 20px;
    background-color: rgba($gray, 0.5);
    transition: transform 0.2s ease-in;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }

    .transport-details--selected & {
      transform: translateX(-100%);
      position: absolute;

      @include media-breakpoint-up(sm) {
        transform: translateX(0);
        position: static;
      }
    }

    @include media-breakpoint-up(sm) {
      flex-basis: 40%;
    }
  }

  &-form {
    position: absolute;
    transform: translateX(100vw);
    flex-grow: 1;
    transition: transform 0.2s ease-in;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      position: relative;
      flex-basis: calc(60% - 15px);
      flex-direction: column;
      transform: translateX(0);
    }

    @include media-breakpoint-up(md) {
      flex-basis: calc(60% - 25px);
    }

    .transport-details--selected & {
      position: static;
      display: flex;
      transform: translateX(0);

      //@include media-breakpoint-up(sm) {
      //  display: flex;
      //}
    }
  }
}
