@import "src/variables";

.transport-details {
  position: relative;
  padding-top: 30px;
  min-width: 600px;
  display: flex;
  border-top: 1px solid $gray;

  &-sidebar {
    flex-basis: 40%;
    background-color: $gray;
  }

  &-form {
    margin-left: 30px;
    flex-basis: calc(60% - 30px);
  }
}
