@import "src/variables";

.sidebar {

  &-list {
    margin: 0;
    padding: 10px 0;
    background-color: $gray;
    list-style: none;
  }

  &-item {
    padding: 5px 20px 5px 20px;

    &:hover {
      background-color: $white;
    }
  }

  a {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    color: $gray-dark;
    text-decoration: none;
    cursor: pointer;

    .sidebar-item:hover & {
      //transform: translateX(15px);
      display: inline-block;
      margin-left: 10px;
      color: red;
    }
  }
}
