@import "src/variables";

.sidebar {

  &-list {
    margin: 0;
    padding: 10px 0;
    list-style: none;
  }

  &-input {
    display: none;
  }

  &-label {
    position: relative;
    padding: 10px 20px 10px 20px;
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: $gray-dark;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $white;
    }

    .sidebar-input:checked ~ & {
      background-color: $white;
      color: $black;
    }

    .sidebar-input:checked:hover ~ & {
      color: lighten($gray-dark, 10%);
    }
  }
}
