@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.sidebar {

  &-list {
    margin: 0;
    padding: 0;
    //display: flex;
    //overflow-x: auto;
    list-style: none;

    @include media-breakpoint-up(md) {
      padding: 10px 0;
      display: block;
      overflow-x: unset;
    }
  }

  &-input {
    display: none;
  }

  &-label {
    position: relative;
    padding: 10px 20px 10px 20px;
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: $gray-dark;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;

    &:hover {

      @include media-breakpoint-up(md) {
        background-color: $white;
      }
    }

    .sidebar-input:checked ~ & {
      color: $black;

      @include media-breakpoint-up(md) {
        background-color: $white;
      }
    }

    .sidebar-input:checked:hover ~ & {
      color: lighten($gray-dark, 10%);
    }
  }
}
