<form class="form u-full-height" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-step u-full-height" [@stepOne]="currentStep">
    <div *ngIf="transportId; else empty" class="u-full-height">
      <div *ngIf="transportParams" formGroupName="params" class="u-full-height">
        <div *ngFor="let param of transportParams" class="form-field" [@field]="fieldState">
          <label class="form-label">{{ param.name }}</label>
          <app-select [id]="param.id" [items]="param.items" [formControlName]="param.id"></app-select>
        </div>
        <div class="form-group form-group--buttons">
          <button type="button" class="btn btn--md btn--prev btn--gray u-hide-sm" [disabled]="" (click)="this.onChange.emit()">Вся техника</button>
          <button type="button" class="btn btn--md btn--next u-mgl-auto" [disabled]="" (click)="goToStep(FormSteps.two)">Доставка</button>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <div>Транспорт не выбран...</div>
    </ng-template>
  </div>
  <div class="form-step u-full-height" formGroupName="delivery" [@stepTwo]="currentStep">
    <div class="form-field">
      <label class="form-label">Когда нужна техника?</label>
      <app-datepicker id="date" name="date" formControlName="date"></app-datepicker>
    </div>
    <div class="form-field">
      <label class="form-label" for="location">Куда технику доставить?</label>
      <textarea id="location" class="input" formControlName="location" cols="30" rows="5"></textarea>
    </div>
    <div class="form-field">
      <label class="form-label" for="remarks">Доп. иформация</label>
      <textarea id="remarks" class="input" formControlName="remarks" cols="30" rows="5"></textarea>
    </div>
    <div class="form-group form-group--buttons">
      <button type="button" class="btn btn--md btn--prev btn--gray" (click)="goToStep(FormSteps.one)">Параметры</button>
      <button type="submit" class="btn btn--md btn--next" (click)="goToStep(FormSteps.three)">Личные данные</button>
    </div>
  </div>
  <div class="form-step u-full-height" [@stepThree]="currentStep">
    <!--    <div>Персональная информация:</div>-->
    <!--    <button class="form-btn" (click)="stepTwo = false">Назад</button>-->
    <div class="form-group form-group--right u-mgb-md">
      <app-switcher name="user-type"
                    [items]="[
                    {id: 'individual', name: 'Физ. лицо', checked: true},
                    {id: 'entity', name: 'Юр. лицо'}]" (onChange)="selectUserType($event)">
      </app-switcher>
    </div>
   <div formGroupName="personal">
     <div class="form-field" *ngIf="!entity" [@field]="fieldState" [class.form-field--invalid]="form.get('personal').get('userName').invalid && form.get('personal').get('userName').touched">
       <label class="form-label" for="name">ФИО <span>(обязательно)</span></label>
       <input type="text" id="name" class="input" formControlName="userName">
       <div class="form-validation" *ngIf="form.get('personal').get('userName').invalid && form.get('personal').get('userName').touched">
         <small *ngIf="form.get('personal').get('userName').errors.required">Это поле не может быть пустым</small>
       </div>
     </div>
     <div class="form-field" *ngIf="entity" [@field]="fieldState" [class.form-field--invalid]="form.get('personal').get('companyName').invalid && form.get('personal').get('companyName').touched">
       <label class="form-label" for="company-name">Название фирмы <span>(обязательно)</span></label>
       <input type="text" id="company-name" class="input" formControlName="companyName">
       <div class="form-validation" *ngIf="form.get('personal').get('companyName').invalid && form.get('personal').get('companyName').touched">
         <small *ngIf="form.get('personal').get('companyName').errors.required">Это поле не может быть пустым</small>
       </div>
     </div>
     <div class="form-field" *ngIf="entity" [@field]="fieldState" [class.form-field--invalid]="form.get('personal').get('companyPerson').invalid && form.get('personal').get('companyPerson').touched">
       <label class="form-label" for="company-name">ФИО предствителя <span>(обязательно)</span></label>
       <input type="text" id="company-person" class="input" formControlName="companyPerson">
       <div class="form-validation" *ngIf="form.get('personal').get('companyPerson').invalid && form.get('personal').get('companyPerson').touched">
         <small *ngIf="form.get('personal').get('companyPerson').errors.required">Это поле не может быть пустым</small>
       </div>
     </div>
     <div class="form-field" [class.form-field--invalid]="form.get('personal').get('email').invalid && form.get('personal').get('email').touched">
       <label class="form-label" for="email">Эл. почта <span>(обязательно)</span></label>
       <input type="email" id="email" class="input" formControlName="email">
       <div class="form-validation" *ngIf="form.get('personal').get('email').invalid && form.get('personal').get('email').touched">
         <small *ngIf="form.get('personal').get('email').errors.required">Это поле не может быть пустым</small>
         <small *ngIf="form.get('personal').get('email').errors.email">Эл. почта указана некорректно</small>
       </div>
     </div>
     <div class="form-field" [class.form-field--invalid]="form.get('personal').get('tel').invalid && form.get('personal').get('tel').touched">
       <label class="form-label" for="phone">Телефон <span>(обязательно)</span></label>
       <input type="tel" id="phone" class="input" formControlName="tel" mask="(000) 000-0000" prefix="+7">
       <div class="form-validation" *ngIf="form.get('personal').get('tel').invalid && form.get('personal').get('tel').touched">
         <small *ngIf="form.get('personal').get('tel').errors.required">Это поле не может быть пустым</small>
         <small *ngIf="form.get('personal').get('tel').errors.mask">Телефон указан некорректно</small>
       </div>
     </div>
   </div>
    <div class="form-field">
      <label class="form-label" for="message">Текст</label>
      <textarea id="message" class="input" cols="30" rows="5" formControlName="message"></textarea>
      <div class="form-validation" *ngIf="form.get('message').invalid && form.get('message').touched">
        <small *ngIf="form.get('message').errors.required">Название компании не может быть пустым</small>
      </div>
    </div>
    <div class="form-group form-group--buttons">
      <button type="button" class="btn btn--md btn--prev btn--gray" (click)="goToStep(FormSteps.two)">Доставка</button>
      <button type="submit" class="btn btn--md btn--success" [disabled]="form.invalid">Отправить</button>
    </div>
  </div>
</form>
