<form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form__step" [@stepOne]="currentStep">
    <div *ngIf="transportId; else empty" class="form__full-height">
      <div *ngIf="transportModels && transportModels.length" class="form__full-height">
        <div class="form__field">
          <label class="form__label">Модель:</label>
          <app-select id="models" [items]="transportModels" formControlName="model" (change)="onChangeParam($event)"></app-select>
        </div>
        <div *ngIf="transportProps" class="form__field">
          <div class="form__label">Характеристики:</div>
          <table class="table">
            <tr *ngFor="let prop of transportProps">
              <td>{{prop.name}}</td>
              <td>{{prop.value}}</td>
            </tr>
          </table>
        </div>
        <app-loader *ngIf="isTransportPropsLoading" class="loader--sm loader--invert"></app-loader>
        <div class="form__group form__group--buttons">
          <button type="button" class="form__btn form__btn--prev form__btn--all-transport" (click)="this.onChange.emit()">Вся техника</button>
          <button type="button" class="form__btn form__btn--next" [disabled]="" (click)="goToStep(FormStep.TWO)">Дальше</button>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <div>Транспорт не выбран...</div>
    </ng-template>
  </div>
  <div class="form__step" formGroupName="rent" [@stepTwo]="currentStep">
    <div class="form__field">
      <label class="form__label">Когда нужна техника?</label>
      <app-datepicker id="date" name="date" formControlName="date"></app-datepicker>
    </div>
    <div class="form__field">
      <label class="form__label">На какой период?</label>
      <app-select id="period" [items]="[{ value: '', name: 'Не выбрано' }, { value: '1', name: '1 час' }, { value: '2-4', name: '2 - 4 часа' }, { value: '4-8', name: '4 - 8 часа' }, { value: 'more', name: '8 часов и более' }]" formControlName="period"></app-select>
    </div>
    <div class="form__field">
      <label class="form__label" for="location">Куда доставить?</label>
      <textarea id="location" class="input" formControlName="location" cols="30" rows="5"></textarea>
    </div>
    <div class="form__group form__group--buttons">
      <button type="button" class="form__btn form__btn--prev" (click)="goToStep(FormStep.ONE)">Назад</button>
      <button type="submit" class="form__btn form__btn--next" (click)="goToStep(FormStep.THREE)">Дальше</button>
    </div>
  </div>
  <div class="form__step" [@stepThree]="currentStep">
    <div class="form__switcher">
      <app-switcher name="user-type"
                    [items]="[
                    {id: 'individual', name: 'Физ. лицо', checked: true},
                    {id: 'entity', name: 'Юр. лицо'}]" (onChange)="selectUserType($event)">
      </app-switcher>
    </div>
   <div formGroupName="personal">
     <div class="form__field" *ngIf="!entity" [@field]="fieldState" [class.form__field--invalid]="form.get('personal').get('userName').invalid && form.get('personal').get('userName').touched">
       <label class="form__label" for="name">Как к Вам обращаться? <span>(обязательно)</span></label>
       <input type="text" id="name" class="input" formControlName="userName">
       <div class="form__validation" *ngIf="form.get('personal').get('userName').invalid && form.get('personal').get('userName').touched">
         <small *ngIf="form.get('personal').get('userName').errors.required">Это поле не может быть пустым</small>
       </div>
     </div>
     <div class="form__field" *ngIf="entity" [@field]="fieldState" [class.form__field--invalid]="form.get('personal').get('companyPerson').invalid && form.get('personal').get('companyPerson').touched">
       <label class="form__label" for="company-name">Как к Вам обращаться? <span>(обязательно)</span></label>
       <input type="text" id="company-person" class="input" formControlName="companyPerson">
       <div class="form__validation" *ngIf="form.get('personal').get('companyPerson').invalid && form.get('personal').get('companyPerson').touched">
         <small *ngIf="form.get('personal').get('companyPerson').errors.required">Это поле не может быть пустым</small>
       </div>
     </div>
     <div class="form__field" *ngIf="entity" [@field]="fieldState" [class.form__field--invalid]="form.get('personal').get('companyName').invalid && form.get('personal').get('companyName').touched">
       <label class="form__label" for="company-name">Название фирмы <span>(обязательно)</span></label>
       <input type="text" id="company-name" class="input" formControlName="companyName">
       <div class="form__validation" *ngIf="form.get('personal').get('companyName').invalid && form.get('personal').get('companyName').touched">
         <small *ngIf="form.get('personal').get('companyName').errors.required">Это поле не может быть пустым</small>
       </div>
     </div>
     <div class="form__field" [class.form__field--invalid]="form.get('personal').get('email').invalid && form.get('personal').get('email').touched">
       <label class="form__label" for="email">Эл. почта <span>(обязательно)</span></label>
       <input type="email" id="email" class="input" formControlName="email">
       <div class="form__validation" *ngIf="form.get('personal').get('email').invalid && form.get('personal').get('email').touched">
         <small *ngIf="form.get('personal').get('email').errors.required">Это поле не может быть пустым</small>
         <small *ngIf="form.get('personal').get('email').errors.email">Эл. почта указана некорректно</small>
       </div>
     </div>
     <div class="form__field" [class.form__field--invalid]="form.get('personal').get('tel').invalid && form.get('personal').get('tel').touched">
       <label class="form__label" for="phone">Телефон <span>(обязательно)</span></label>
       <input type="tel" id="phone" class="input" formControlName="tel" mask="(000) 000-0000" prefix="+7">
       <div class="form__validation" *ngIf="form.get('personal').get('tel').invalid && form.get('personal').get('tel').touched">
         <small *ngIf="form.get('personal').get('tel').errors.required">Это поле не может быть пустым</small>
         <small *ngIf="form.get('personal').get('tel').errors.mask">Телефон указан некорректно</small>
       </div>
     </div>
   </div>
    <div class="form__field">
      <label class="form__label" for="message">Сообщение</label>
      <textarea id="message" class="input" cols="30" rows="5" formControlName="message"></textarea>
      <div class="form__validation" *ngIf="form.get('message').invalid && form.get('message').touched">
        <small *ngIf="form.get('message').errors.required">Название компании не может быть пустым</small>
      </div>
    </div>
    <div class="form__group form__group--buttons">
      <button type="button" class="form__btn form__btn--prev" (click)="goToStep(FormStep.TWO)">Назад</button>
      <button type="submit" class="form__btn form__btn--send" [disabled]="form.invalid">Отправить</button>
    </div>
    <app-loader *ngIf="formSubmitState === SubmitState.SENDING" class="loader--absolute loader--invert"></app-loader>
    <div class="form__message form__message--success" *ngIf="formSubmitState === SubmitState.SUCCESS">
      <h2>Спасибо!</h2>
      <h3>Ваша заявка успешно отправлена!</h3>
      <small>Мы с вами свяжемся в течении 60 минут.</small>
    </div>
    <div class="form__message form__message--error" *ngIf="formSubmitState === SubmitState.FAIL">
      <h2>Извините!</h2>
      <h3>Не удалось отправить сообщение.</h3>
      <small>Но Вы можете нам позвонить.</small>
    </div>
  </div>
</form>
