<form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-step-one" [ngStyle]="{display: stepTwo ? 'none' : 'block'}">
    <div *ngIf="transportId; else empty">
      {{transportId}}

      <div formGroupName="tippers">
        <div class="form-field">
          <label class="form-label">Эксплуатационная масса, кг</label>
          <app-select id="operatingWeight" [items]="[{ value: '9150', name: '9150' },{ value: '8150', name: '8150' }]" formControlName="operatingWeight"></app-select>
        </div>
        <div class="form-field">
          <label class="form-label">Мощность двигателя, л.c</label>
          <app-select id="enginePower" [items]="[{ value: '225', name: '225' },{ value: '400', name: '400' }]" formControlName="enginePower"></app-select>
        </div>
        <div class="form-field">
          <label class="form-label">Грузоподьемность, тонн</label>
          <app-select id="carryingCapacity" [items]="[{ value: '13', name: '13' },{ value: '25', name: '25' }]" formControlName="carryingCapacity"></app-select>
        </div>
        <div class="form-field">
          <label class="form-label">Обьем кузова, м<sup>3</sup></label>
          <app-select id="bodyVolume" [items]="[{ value: '8', name: '8' },{ value: '10', name: '10' }]" formControlName="bodyVolume"></app-select>
        </div>
      </div>
      <div class="form-field">
        <label class="form-label">Когда нужен?</label>
        <app-datepicker id="date" name="date" formControlName="date"></app-datepicker>
        <div class="form-validation" *ngIf="form.get('date').invalid && form.get('date').touched">
          <small *ngIf="form.get('date').errors.required">Название компании не может быть пустым</small>
        </div>
      </div>
      <div class="form-field">
        <label class="form-label" for="location">Куда доставить?</label>
        <textarea id="location" class="input" formControlName="location" cols="30" rows="5"></textarea>
        <div class="form-validation" *ngIf="form.get('location').invalid && form.get('location').touched">
          <small *ngIf="form.get('location').errors.required">Название компании не может быть пустым</small>
        </div>
      </div>
      <div class="form-group form-group--right">
        <button type="button" class="btn btn--md" [disabled]="" (click)="stepTwo = true">Дальше</button>
      </div>
    </div>
    <ng-template #empty>
      <p>Транспорт не выбран...</p>
    </ng-template>
  </div>
  <div class="form-step-two" [ngStyle]="{display: stepTwo ? 'block' : 'none'}">
    <!--    <div>Персональная информация:</div>-->
    <!--    <button class="form-btn" (click)="stepTwo = false">Назад</button>-->
    <div class="form-group form-group--right u-mgb-md">
      <app-switcher name="user-type"
                    [items]="[
                    {id: 'individual', name: 'Физ. лицо', checked: true},
                    {id: 'entity', name: 'Юр. лицо'}]" (onChange)="selectUserType($event)">
      </app-switcher>
    </div>
    <div class="form-field" *ngIf="!entity">
      <label class="form-label" for="name">ФИО</label>
      <input type="text" id="name" class="input" formControlName="username">
      <div class="form-validation" *ngIf="form.get('username').invalid && form.get('username').touched">
        <small *ngIf="form.get('username').errors.required">ФИО не может быть пустым</small>
      </div>
    </div>
    <div class="form-field" *ngIf="entity">
      <label class="form-label" for="company-name">Название фирмы</label>
      <input type="text" id="company-name" class="input" formControlName="companyname">
      <div class="form-validation" *ngIf="form.get('companyname').invalid && form.get('companyname').touched">
        <small *ngIf="form.get('companyname').errors.required">Название компании не может быть пустым</small>
      </div>
    </div>
    <div class="form-field" *ngIf="entity">
      <label class="form-label" for="company-name">ФИО предствителя фирмы</label>
      <input type="text" id="company-person" class="input" formControlName="companyperson">
      <div class="form-validation" *ngIf="form.get('companyperson').invalid && form.get('companyperson').touched">
        <small *ngIf="form.get('companyperson').errors.required">Название компании не может быть пустым</small>
      </div>
    </div>
    <div class="form-field">
      <label class="form-label" for="email">Эл. почта</label>
      <input type="email" id="email" class="input" formControlName="email">
      <div class="form-validation" *ngIf="form.get('email').invalid && form.get('email').touched">
        <small *ngIf="form.get('email').errors.required">Название компании не может быть пустым</small>
      </div>
    </div>
    <div class="form-field">
      <label class="form-label" for="phone">Телефон</label>
      <input type="tel" id="phone" class="input" formControlName="tel">
      <div class="form-validation" *ngIf="form.get('tel').invalid && form.get('tel').touched">
        <small *ngIf="form.get('tel').errors.required">Название компании не может быть пустым</small>
      </div>
    </div>
    <div class="form-field">
      <label class="form-label" for="message">Текст</label>
      <textarea id="message" class="input" cols="30" rows="5" formControlName="message"></textarea>
      <div class="form-validation" *ngIf="form.get('message').invalid && form.get('message').touched">
        <small *ngIf="form.get('message').errors.required">Название компании не может быть пустым</small>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn--md" (click)="stepTwo = false">Назад</button>
      <button type="submit" class="btn btn--md" [disabled]="form.invalid">Отправить</button>
    </div>
  </div>
</form>
