@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $white;

  @include media-breakpoint-up(sm) {
    position: relative;
    height: auto;
    width: 365px;
  }

  &--transport {
    max-width: unset;

    @include media-breakpoint-up(sm) {
      width: 550px;
      height: 700px;
    }

    @include media-breakpoint-up(md) {
      width: 650px;
    }
  }

  //&:not(&--transport) {
  //  @include media-breakpoint-up(sm) {
  //    position: relative;
  //    width: auto;
  //    height: auto;
  //    //max-height: 750px;
  //    min-width: 350px;
  //  }
  //}

  //&--transport {
  //  @include media-breakpoint-up(md) {
  //    position: relative;
  //    width: auto;
  //    height: auto;
  //    height: 775px;
  //    min-width: 350px;
  //  }
  //}

  &-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba($gray-dark, 0.9);
  }

  &-content {
    margin-top: 20px;
    overflow-y: auto;
  }

  &-header {
    position: relative;
    //margin-bottom: 20px;
    padding: 20px 15px 25px 15px;
    padding-right: 50px;
    min-height: 100px;
    //border-bottom: 1px solid $gray;

    @include media-breakpoint-up(sm) {
      //margin-top: 30px;
      min-height: auto;
    }

    @include media-breakpoint-up(md) {
      //padding-right: 50px;
      padding-left: 25px;
    }

    .modal--transport & {
      //margin-bottom: 0;
    }
  }

  &-header small {
    display: block;
    font-size: 14px;
    color: rgba($gray-dark, 0.7);
    text-transform: none;
    font-weight: 400;
  }

  &-header b {
    color: $gray-dark;
  }

  :host ::ng-deep &-contact {
    position: relative;
    height: 5px;
    background: linear-gradient(45deg, $white, #efcd4f);

    svg {
      margin-right: 5px;
      display: inline-block;
      width: 15px;
      height: 15px;
      fill: $white;
      vertical-align: middle;
    }

    a {
      display: inline-block;
      font-size: 14px;
      //font-weight: 700;700
      color: $white;
      text-decoration: none;
      vertical-align: middle;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &-contact-inner {
    position: absolute;
    top: -16px;
    right: 0;
    padding: 7px 30px;
    display: inline-block;
    background-color: rgba($yellow, 1);
  }

  //:host ::ng-deep &-contact {
  //  position: absolute;
  //  bottom: 18px;
  //  right: 15px;
  //  width: 30px;
  //  height: 30px;
  //
  //  @include media-breakpoint-up(sm) {
  //    width: auto;
  //    height: auto;
  //  }
  //
  //  &-text {
  //    display: none;
  //
  //    @include media-breakpoint-up(sm) {
  //      display: block;
  //    }
  //  }
  //
  //  svg {
  //    position: absolute;
  //    width: 30px;
  //    height: 30px;
  //    fill: $yellow;
  //
  //    @include media-breakpoint-up(sm) {
  //      display: none;
  //      right: 20px;
  //    }
  //  }
  //}
  //
  //:host ::ng-deep &-contact small {
  //  font-size: 12px;
  //  color: rgba($gray-dark, 0.4);
  //}
  //
  //:host ::ng-deep &-contact b {
  //  font-size: 19px;
  //  color: $yellow;
  //
  //  .modal-contact:hover & {
  //    color: rgba($yellow, 0.6);
  //  }
  //}
  //
  //:host ::ng-deep &-contact a {
  //  font-size: inherit;
  //  color: inherit;
  //  text-decoration: none;
  //}

  &-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    color: $gray-dark;


    @include media-breakpoint-up(md) {
      //margin-bottom: 30px;
      //padding: 25px;
      font-size: 22px;
      line-height: 24px;
    }
  }

  &-close {
    position: absolute;
    top: 0;
    right: 13px;
    margin: 0;
    padding: 0;
    font-size: 45px;
    background-color: transparent;
    border: none;
    color: $yellow;
    cursor: pointer;
    outline: none;

    @include media-breakpoint-up(sm) {
      top: 0px;
      right: 15px;
    }

    @include media-breakpoint-up(md) {
      //top: -20px;
      //font-size: 45px;
    }

    &:hover {
      color: rgba($yellow, 0.7);
    }

   &:active {
     color: rgba($yellow, 0.7);
   }

  }
}
