<article class="modal__backdrop">
  <div [class]="'modal ' + (cssMod || '')">
    <div class="modal__header">
      <h1 class="modal__title" [innerHTML]="title"></h1>
      <ng-content select="[header]"></ng-content>
    </div>
    <div class="modal__contact">
      <div class="modal__contact-inner">
        <svg-icon [src]="'/assets/img/svg/phone-solid.svg'"></svg-icon>
        <a href="tel:+7(962)5879804">+7(962)5879804</a>
      </div>
    </div>
    <div class="modal__content">
      <ng-content select="[body]"></ng-content>
    </div>
    <button class="modal__close" (click)="close.emit()">&times;</button>
  </div>
</article>
