
.u-mr-20 {
  margin-right: 20px;
}

.u-no-padding {
  padding: 0;
}

.u-no-mg {
  margin: 0;
}

.u-no-mgt {
  margin-top: 0;
}

.u-mgt-md {
  margin-top: 15px;
}

.u-mgt--xl {
  margin-top: 75px;
}

.u-mgl-lg {
  margin-left: 30px;
}

.u-mgl-auto {
  margin-left: auto;
}

.u-full-height {
  width: 100%;

  [data-whatintent='mouse'] & {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  //@include media-breakpoint-up(sm) {
  //  display: flex;
  //  flex-direction: column;
  //  flex-grow: 1;
  //}
}

.u-mgb-md {
  margin-bottom: 20px;
}

.u-text-align-right {
  text-align: right;
}

.u-text-align-center {
  text-align: center;
}

.u-text-lg {
  font-size: 18px;
  line-height: 27px;
}

.u-justify-content-center {
  justify-content: center;
}

.u-show-sm {
  display: none !important;

  @include media-breakpoint-up(sm) {
    display: block !important;
  }
}

.u-show-md {
  display: none !important;

  @include media-breakpoint-up(md) {
    display: block !important;
  }
}

.u-hide-sm {

  @include media-breakpoint-up(sm) {
    display: none !important;
  }
}

.u-hide-md {

  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.u-show-lg {
  display: none !important;

  @include media-breakpoint-up(lg) {
    display: block !important;
  }
}

.u-hide-lg {
  @include media-breakpoint-up(lg) {
    display: none !important;
  }
}
