@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.page-footer {
  margin-top: -65px;
  padding-top: 40px;
  background-color: $yellow;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    background-position: 36% 100%;
  }

  @include media-breakpoint-up(md) {
    background-position: 50% 100%;
  }

  &__container {
    position: relative;
    min-height: 300px;
    background-image: url("src/assets/img/bg/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 1020px auto;
    background-position: 56% 100%;

    @include media-breakpoint-up(md) {
      opacity: 0.7;
    }

    &::before {
      content: "";
      position: absolute;
      left: -10000px;
      bottom: 0;
      height: 83px;
      width: 10000px;
      background: $black;
    }

    &::after {
      content: "";
      position: absolute;
      right: -10000px;
      bottom: 0;
      height: 84px;
      width: 10000px;
      background: $black;
    }
  }
}
