<footer class="page-footer">
  <div class="page-footer-container container">
    <div class="row">
<!--      <div class="col-6">-->
<!--        <small>Компания "ДальТрансСнаб" имеет опыт работы на рынке Хабаровска и Хабаровского края более 10 лет.-->
<!--          Качественное и своевременное выполнение работы.</small>-->
<!--      </div>-->
<!--      <div class="col-6">-->
<!--        <small>Оказываем несколько видов услуг</small>-->
<!--        <ul>-->
<!--          <li>-->
<!--            <a href="#" class="link"></a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>
    <div class="page-footer-bottom"></div>
  </div>
</footer>
