<app-page-header [transport]="transport"  [services]="services" [contacts]=""></app-page-header>
<section #transport id="transport" class="page-section page-section--transport">
  <div class="container">
    <div class="page-section-heading">
      <small>Мы готовы</small>
      <h2>Предоставить технику</h2>
    </div>
    <app-transport-page></app-transport-page>
  </div>
</section>
<div #services id="services" class="page-section">
  <div class="container">
    <div class="page-section-heading">
      <small>Качественно и в срок</small>
      <h2>Выполним работу</h2>
    </div>
    <app-services></app-services>
  </div>
</div>
<div id="materials" class="page-section page-section--materials">
  <div class="container">
    <div class="page-section-heading">
      <small>Предлагаем</small>
      <h2>Приобрести</h2>
    </div>
    <app-materials></app-materials>
  </div>
</div>
<div id="about" class="page-section page-section--about">
  <div class="container">
    <div class="page-section-heading">
      <h2>Кто мы?</h2>
    </div>
    <p class="u-no-mgt">Компания "ДальТрансСнаб" ведет свою деятельность с 2009 года.</p>
    <p>Мы специализируемся на аренде стройтехники в Хабаровске и Хабаровском крае и предоставлении услуг по выполнению работ с ее использованием.</p>
    <p>В нашем автопарке имеется большой выбор техники, которая позволяет быстро и эффективно выполнять любые поставленные задачи.</p>
    <p>Сотрудничая с нами,<b> Вам не потребуется:</b></p>
    <ul class="list list--about-features">
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Покупать спецтехнику</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Нести расходы на ремонт и обслуживание</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Содержать штат водителей и механников</div>
      </li>
    </ul>

  </div>
</div>
<div #features id="features" class="page-section page-section--features">
  <div class="container">
    <div class="page-section-heading">
      <small>Почему нужно</small>
      <h2>Выбрать нас</h2>
    </div>
    <app-features></app-features>
  </div>
</div>
<div #price id="price" class="page-section page-section--about">
  <div class="container">
    <div class="page-section-heading">
      <small>Наш полный</small>
      <h2>Прайслист</h2>
    </div>
    <app-price-list></app-price-list>
  </div>
</div>
<div #contacts id="contacts" class="page-section page-section--contacts">
  <div class="container">
    <div class="page-section-heading">
      <small>Наши</small>
      <h2>Контакты</h2>
    </div>
    <app-contacts></app-contacts>
  </div>
</div>
<app-page-footer></app-page-footer>
