<app-page-header [transport]="transport"  [services]="services" [contacts]="contacts"></app-page-header>
<section #transport id="transport" class="page-section page-section--transport">
  <div class="container">
    <div class="page-section-heading">
<!--          <small>Большой выбор</small>-->
          <h2>Выберите технику</h2>
          <small>У нас большой автопарк</small>
        </div>
    <router-outlet></router-outlet>
  </div>
</section>
<div #services id="services" class="page-section">
  <div class="container">
    <div class="page-section-heading">
      <h2>Закажите услугу</h2>
      <small>Выполним качественно и в срок</small>
    </div>
    <app-services></app-services>
  </div>
</div>
<div class="page-section page-section--buy">
  <div class="container">
    <div class="page-section-heading u-text-align-center">
      <h2>Приобретите</h2>
      <small>По выгодной цене</small>
    </div>
    <div class="row">
      <div class="col-6 offset-sm-3 offset-lg-3">
        <ul class="list">
          <li>
            <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
            <div class="list-text">
              Инертные материалы
              <br>
              <small>(Песок, Сланец, ПГС, Щебень, Отсев, Грунт)</small>
            </div>
          </li>
          <li>
            <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
            <div class="list-text">Дизельное топливо</div>
          </li>
        </ul>
        <button class="btn btn--lg">Заказать</button>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="container">
    <div class="page-section-heading">
      <small>Немного</small>
      <h2>О нас</h2>
    </div>
    <p class="u-text-lg u-no-mg"><b>"ДальТрансСнаб"</b>- компания, которая специализируется на аренде стройтехники в
      Хабаровске и Хабаровском крае и предоставлении услуг по выполнению работ с ее использованием</p>
    <p>В нашем автопарке имеется большой выбор техники, которая позволяет быстро и эффективно выполнять любые поставленные задачи</p>
    <p>Сотрудничая с нами,<b> Вам не потребуется:</b></p>
    <div class="row">
      <div class="col-4">Вкладывать средства в покупку стройтехники</div>
      <div class="col-4">Нести расходы на покупку запасных частей, ГСМ, расходных материалов</div>
      <div class="col-4">Содержание штата водителей, механников</div>
    </div>
  </div>
</div>
<div #features id="features" class="page-section page-section--features">
  <div class="container">
    <div class="page-section-heading">
      <small>Почему нужно</small>
      <h2>Выбрать нас</h2>
    </div>
    <app-features></app-features>
  </div>
</div>
<div #contacts id="contacts" class="page-section page-section--contacts">
  <div class="container">
    <div class="page-section-heading">
      <small>Наши</small>
      <h2>Контакты</h2>
    </div>
    <app-contacts></app-contacts>
  </div>
</div>
<app-page-footer></app-page-footer>
