@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.service-card {
  position: relative;
  height: 380px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba($gray-dark, 0.4);
  }

  &__content {
    display: flex;
    flex-direction: column;

    ::ng-deep [data-whatintent='mouse'] & {
      transform: translateY(20%);
      transition: all 0.3s ease-in;
    }

    ::ng-deep [data-whatintent='mouse'] .service-card:hover & {
      transform: translateY(0);
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: bottom;
    filter: contrast(0.5);
    transition: all 0.5s ease-in;
  }

  &__title {
    position: relative;
    margin-top: 25px;
    margin-bottom: 15px;
    min-height: 60px;
    font-size: calculateRem(19px);
    line-height: calculateRem(25px);
    color: $white;
    text-transform: uppercase;
    transition: all 0.3s ease-in;

    @include media-breakpoint-up(sm) {
      font-size: calculateRem(16px);
    }

    @include media-breakpoint-up(lg) {
      font-size: calculateRem(19px);
    }
  }

  &__price {
    position: relative;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: calculateRem(20px);
    color: $white;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 1px;
      background-color: $white;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &__text {
    position: relative;
    margin-top: 0;
    font-size: calculateRem(14px);
    line-height: calculateRem(18px);
    color: $white;

    .service-card:hover & {
      transform: translateX(0);
    }
  }

  &__btn {
    margin-top: auto;
    margin-bottom: 10px;

    order: 2;

    ::ng-deep [data-whatintent='mouse'] & {
      opacity: 0;
      transition: all 0.2s ease-in 0.1s;
    }

    &:hover {
      transform: translateY(3px);
    }

    ::ng-deep [data-whatintent='mouse'] .service-card:hover & {
      opacity: 1;
    }
  }
}
