@import "src/variables";

.contact-box {
  margin-top: 40px;
  display: flex;
  align-items: center;

  &-icon {
    position: relative;
    transform: translateY(-3px);
    margin-right: 20px;
    transition: all 0.3s ease-in;

    &:hover {
      transform: translateY(0);
    }
  }

  &-svg {
    width: 40px;
    height: 40px;
    fill: $yellow;
  }

  &-title {
    margin: 0 0 10px 0;
    font-family: $font-family;
    font-size: 16px;
    line-height: 16px;
    color: $gray-dark;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: $gray-dark;
  }
}
