<form class="form u-full-height" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-step" [@stepOne]="currentStep">
    <div  class="form-field">
      <label class="form-label" for="type">Наши предложения</label>
      <app-select id="type" [items]="[{value: '', name: 'Не выбрано'}, {value: 'material', name: 'Инертные материалы'}, {value: 'gasoline', name: 'Дизельное топливо'}]" formControlName="offer" (change)="selectType($event)"></app-select>
    </div>
    <div  class="form-field" *ngIf="isMaterial" [@field]="fieldState">
      <label class="form-label" for="material">Выберите материал</label>
      <app-select id="material" [items]="materials" formControlName="material" (change)="showPrice($event)"></app-select>
    </div>
    <div class="form-price" *ngIf="currentPrice">
       от <b>{{ currentPrice | currency: 'RUB':'symbol-narrow':'4.0':'ru' }}</b>
    </div>
    <div class="form-group form-group--buttons">
      <button type="button" class="btn btn--md btn--next u-mgl-auto" [disabled]="" (click)="goToStep(FormSteps.two)">Личная информация</button>
    </div>
  </div>
  <div class="form-step" [@stepTwo]="currentStep">
    <div class="form-group form-group--right u-mgb-md">
      <app-switcher name="user-type"
                    [items]="[
                    {id: 'individual', name: 'Физ. лицо', checked: true},
                    {id: 'entity', name: 'Юр. лицо'}]" (onChange)="selectUserType($event)">
      </app-switcher>
    </div>
    <div formGroupName="personal">
      <div class="form-field" *ngIf="!entity" [@field]="fieldState" [class.form-field--invalid]="form.get('personal').get('userName').invalid && form.get('personal').get('userName').touched">
        <label class="form-label" for="name">ФИО</label>
        <input type="text" id="name" class="input" formControlName="userName">
        <div class="form-validation" *ngIf="form.get('personal').get('userName').invalid && form.get('personal').get('userName').touched">
          <small *ngIf="form.get('personal').get('userName').errors.required">Это поле не может быть пустым</small>
        </div>
      </div>
      <div class="form-field" *ngIf="entity" [@field]="fieldState" [class.form-field--invalid]="form.get('personal').get('companyName').invalid && form.get('personal').get('companyName').touched">
        <label class="form-label" for="company-name">Название фирмы</label>
        <input type="text" id="company-name" class="input" formControlName="companyName">
        <div class="form-validation" *ngIf="form.get('personal').get('companyName').invalid && form.get('personal').get('companyName').touched">
          <small *ngIf="form.get('personal').get('companyName').errors.required">Это поле не может быть пустым</small>
        </div>
      </div>
      <div class="form-field" *ngIf="entity" [@field]="fieldState" [class.form-field--invalid]="form.get('personal').get('companyPerson').invalid && form.get('personal').get('companyPerson').touched">
        <label class="form-label" for="company-name">ФИО предствителя</label>
        <input type="text" id="company-person" class="input" formControlName="companyPerson">
        <div class="form-validation" *ngIf="form.get('personal').get('companyPerson').invalid && form.get('personal').get('companyPerson').touched">
          <small *ngIf="form.get('personal').get('companyPerson').errors.required">Это поле не может быть пустым</small>
        </div>
      </div>
      <div class="form-field" [class.form-field--invalid]="form.get('personal').get('email').invalid && form.get('personal').get('email').touched">
        <label class="form-label" for="email">Эл. почта</label>
        <input type="email" id="email" class="input" formControlName="email">
        <div class="form-validation" *ngIf="form.get('personal').get('email').invalid && form.get('personal').get('email').touched">
          <small *ngIf="form.get('personal').get('email').errors.required">Это поле не может быть пустым</small>
          <small *ngIf="form.get('personal').get('email').errors.email">Эл. почта указана некорректно</small>
        </div>
      </div>
      <div class="form-field" [class.form-field--invalid]="form.get('personal').get('tel').invalid && form.get('personal').get('tel').touched">
        <label class="form-label" for="phone">Телефон</label>
        <input type="tel" id="phone" class="input" formControlName="tel" mask="(000) 000-0000" prefix="+7">
        <div class="form-validation" *ngIf="form.get('personal').get('tel').invalid && form.get('personal').get('tel').touched">
          <small *ngIf="form.get('personal').get('tel').errors.required">Это поле не может быть пустым</small>
          <small *ngIf="form.get('personal').get('tel').errors.mask">Телефон указан некорректно</small>
        </div>
      </div>
    </div>
    <div class="form-field">
      <label class="form-label" for="message">Текст</label>
      <textarea id="message" class="input" cols="30" rows="5" formControlName="message"></textarea>
    </div>
    <div class="form-group form-group--buttons">
      <button type="button" class="btn btn--md btn--prev btn--gray" (click)="goToStep(FormSteps.one)">Доставка</button>
      <button type="submit" class="btn btn--md btn--success" [disabled]="form.invalid">Отправить</button>
    </div>
  </div>
</form>
