.btn {
  position: relative;
  padding: 5px 10px;
  color: $white;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: $yellow;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $gray-dark;
    background-color: rgba($white, 0.9);
    transform: translateY(-3px);
  }

  &--lg {
    padding: 20px 40px;
  }

  &:focus {
    outline: none;
  }

  &:hover {

  }
}
