.btn {
  position: relative;
  padding: 10px 20px;
  display: inline-block;
  color: $white;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  background-color: $yellow;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba($yellow, 0.5);
    transform: translateY(-3px);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    color: rgba($black, 0.2);
    background-color: $gray !important;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }

  &--lg {
    padding: 20px 40px;
    border-radius: 30px;
  }

  &--gray {
    background-color: rgba($gray-dark, 0.3);

    &:hover {
      background-color: rgba($gray-dark, 0.2);
    }
  }

  &--success {
    color: $white;
    background-color: rgba($green, 0.7);

    &:hover {
      background-color: rgba($green, 0.5);
    }
  }

  &--inverse {
    color: $gray-dark;
    background-color: $white;

    &:hover {
      background-color: rgba($white, 0.9);
    }
  }

  &--next {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 35px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      right: 18px;
      width: 6px;
      height: 6px;
      border: 2px solid $white;
      border-left-color: transparent;
      border-bottom-color: transparent;
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &::after {
      right: 23px;
    }
  }

  &--prev {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 35px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      left: 18px;
      width: 6px;
      height: 6px;
      border: 2px solid $white;
      border-right-color: transparent;
      border-bottom-color: transparent;
      transform: rotate3d(0, 0, 1, -45deg);
    }

    &::after {
      left: 23px;
    }
  }

  //&--transport {
  //  margin-top: 15px;
  //  margin-left: 35px;
  //}

}
