.list {
  margin: 35px 0 0 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-bottom: 6px;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(sm) {
      margin-bottom: 12px;
    }
  }

  &__icon {
    vertical-align: middle;
    fill: $yellow;
  }

  &__text {
    margin-left: 10px;
    font-size: calculateRem(14px);
    line-height: calculateRem(17px);
    display: inline-block;
    vertical-align: middle;

    @include media-breakpoint-up(sm) {
      font-size: calculateRem(16px);
      line-height: calculateRem(21px);
    }
  }
}
