@import "src/variables";

.page-section {

  &--about {
    margin-top: 80px;
  }

  &--about .container {
    height: 335px;
    background-image: url("assets/img/content/about.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 600px;
  }

  &--features {
    margin-top: 60px;
    background-color: $gray-dark;
  }

  &-heading {
    padding-top: 120px;
    padding-bottom: 35px;
    font-family: $font-family;
  }

  &-heading h2 {
    margin: 0;
    font-size: 35px;
    line-height: 40px;
    color: $gray-dark;
    text-transform: uppercase;

    .page-section--features & {
      color: $white;
    }
  }

  &-heading small {
    font-size: 12px;
    color: rgba($gray-dark, 0.6);
    text-transform: uppercase;
  }

  &-footer {
    margin-top: 50px;
    text-align: center;
  }
}
