@import "src/variables";

.page-section {

  &--transport {
    margin-top: 120px;
  }

  &--about {
    margin-top: 80px;
  }

  &--about .container {
    height: 335px;
    background-image: url("assets/img/content/about.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 600px;
  }

  &--buy {
    height: 650px;
    background-image: url("src/assets/img/bg/sand-width-barrel.jpg");
    background-repeat: no-repeat;
    background-position: 60% 100%;
    background-size: 980px auto;

    & .container {
      //background-image: url("src/assets/img/bg/bucket.png");
      background-repeat: no-repeat;
      background-position: 82% 195px;
      padding-bottom: 220px;
      background-size: 360px auto;
    }

    .gr {
      //background-image: url("src/assets/img/bg/bucket.png");
      //background-repeat: no-repeat;
      //background-position: 0 0;
      //background-size: 200px 200px;
    }
  }

  //&--features {
  //  margin-top: 60px;
  //  background-color: $gray-dark;
  //}

  &-heading {
    padding-top: 120px;
    padding-bottom: 35px;
    font-family: $font-family;

    .page-section--transport & {
      padding-top: 0;
    }
  }

  &-heading h2 {
    margin: 0;
    font-size: 35px;
    line-height: 40px;
    color: $gray-dark;
    text-transform: uppercase;
  }

  &-heading small {
    font-size: 12px;
    color: rgba($gray-dark, 0.6);
    text-transform: uppercase;
  }

  &-footer {
    margin-top: 50px;
    text-align: center;
  }
}
