.swiper {
  position: relative;
  //box-shadow: 0 0 15px rgba($black, 0.1)

  &--services {
    height: 360px;
    background-color: $gray;
  }

  &-container {

    .swiper--features & {

      @include media-breakpoint-up(lg) {
       overflow: visible;
      }
    }

    .swiper--header-features & {
      padding: 6px 0;

      @include media-breakpoint-up(md) {
        overflow: visible;
      }
    }
  }

  &-wrapper {

    .swiper--features & {

      @include media-breakpoint-up(lg) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .swiper--header-features & {

      @include media-breakpoint-up(md) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }

  &-slide {

    .swiper--features & {
      @include media-breakpoint-up(lg) {
        //flex-grow: 1;
        flex-basis: 23%;
        //margin: 0 5px;
      }
    }

    .swiper--header-features & {
      @include media-breakpoint-up(md) {
        //flex-grow: 1;
        flex-basis: 25%;
        //margin: 0 5px;
      }
    }

    //@include media-breakpoint-up(lg) {
    //  flex-grow: 1;
    //  flex-basis: 30%;
    //  margin: 10px;
    //
    //  &--double {
    //    flex-basis: 60%;
    //  }
    //}
    //
    //.swiper--transport & {
    //  margin: 0;
    //  flex-basis: 50%;
    //  //box-shadow: 0 0 10px 0 rgba($black, 0.03);
    //}
    //
    //.swiper--transport &--centered {
    //  min-height: 230px;
    //  display: flex;
    //  align-items: center;
    //  justify-content: center;
    //}
  }

  &-pagination {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &-pagination-bullet {
    margin: 15px 5px 10px 5px;
    width: 12px;
    height: 12px;

    &-active {
      background-color: $yellow;
      box-shadow: 0 2px 5px 0 rgba($black, 0.3);
    }

    &:focus {
      outline: none;
    }
  }

  &-btn {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: none;
    font-size: 0;
    background: none;
    border: 3px solid $gray-dark;
    border-bottom-color: transparent;
    opacity: 0.1;
    transition: all 0.1s ease-in;
    cursor: pointer;

    @include media-breakpoint-up(xl) {
      display: block;
    }

    &:hover {
      opacity: 0.3;
    }

    &:active {
      top: calc(50% + 2px);
    }

    &:focus {
      outline: none;
    }

    &--left {
      left: -50px;
      border-right-color: transparent;
      transform: rotate3d(0, 0, 1, -45deg);
    }

    &--right {
      right: -50px;
      border-left-color: transparent;
      transform: rotate3d(0, 0, 1, 45deg);
    }
  }
}
