.swiper {
  position: relative;

  &-wrapper {
    @include media-breakpoint-up(lg) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &-slide {
    @include media-breakpoint-up(lg) {
      flex-grow: 1;
      flex-basis: 30%;
      margin: 10px;
      //margin-bottom: 20px;
    }

    .swiper--transport & {
      margin: 0;
      flex-basis: 50%;
      //box-shadow: 0 0 10px 0 rgba($black, 0.03);
    }

    .swiper--transport &--centered {
      min-height: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-pagination {
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &-pagination-bullet {
    margin: 15px 5px 10px 5px;
    width: 12px;
    height: 12px;

    &-active {
      background-color: $yellow;
      box-shadow: 0 2px 5px 0 rgba($black, 0.3);
    }

    &:focus {
      outline: none;
    }
  }
}
