.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 16px;
  color: rgba($gray-dark, 0.5);

  tr:nth-child(even) {
    background-color: rgba($gray, 0.3);
  }

  td {
    padding: 10px;

    &:last-child {
      text-align: right;
    }
  }
}
