.table {
  width: 100%;
  border-collapse: collapse;
  font-family: $font-family;
  font-size: calculateRem(14px);
  line-height: calculateRem(16px);
  color: rgba($gray-dark, 0.5);

  tr:nth-child(odd) {
    background-color: rgba($gray, 0.3);
  }

  td {
    padding: 10px;

    &:last-child {
      text-align: right;
    }
  }
}
