.list {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 6px;
    display: flex;
    align-items: center;

    .list--materials {
      margin-bottom: 12px;
    }

    @include media-breakpoint-up(sm) {
      margin-bottom: 12px;
    }
  }

  &-icon {
    vertical-align: middle;
    fill: $yellow;
  }

  &-text {
    margin-left: 10px;
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    vertical-align: middle;

    .list--materials & {
      font-size: 16px;
      line-height: 21px;
    }

    @include media-breakpoint-up(sm) {
      font-size: 16px;
      line-height: 21px;
    }
  }

  small {
    color: rgba($gray-dark, 0.6);
  }

  &--transport-features {

    @include media-breakpoint-up(sm) {
      column-count: 2;
    }

    @include media-breakpoint-up(md) {
      column-count: unset;
    }

    li {
      @include media-breakpoint-up(sm) {
        margin-bottom: 6px;
      }

      @include media-breakpoint-up(md) {
        margin-bottom: 9px;
      }
    }

    .list-text {
      @include media-breakpoint-up(sm) {
        font-size: 14px;
      }

      @include media-breakpoint-up(md) {
        font-size: 16px;
        line-height: 18px;
      }
    }

    svg {
      display: inline-flex;
      fill: $yellow;
      width: 20px;
      height: 20px;
    }
  }

  &--about-features {
    margin-top: 35px;
    margin-bottom: 0;
  }

}
