@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.promo {
  margin: 0;
  padding: 25px 40px 35px 40px;
  color: $gray-dark;
  text-align: center;
  background-color: $white;
  border-radius: 20px;
  list-style: none;
  box-shadow: 0 0 20px 0 rgba($black, 0.1);

  @include media-breakpoint-up(sm) {
    bottom: 0;
  }

  &__content {
    position: relative;
  }

  &__container {
    padding: 6px 0;

    @include media-breakpoint-up(md) {
      overflow: visible;
    }
  }

  &__wrapper {
    @include media-breakpoint-up(md) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    @include media-breakpoint-up(md) {
      flex-basis: 25%;
    }
  }

  &__title {
    display: block;
    font-size: calculateRem(80px);
    line-height: calculateRem(85px);
    color: $yellow;

    @include media-breakpoint-up(sm) {
      font-size: calculateRem(70px);
      line-height: calculateRem(75px);
    }

    @include media-breakpoint-up(md) {
      font-size: calculateRem(58px);
      line-height: calculateRem(65px);
    }

    @include media-breakpoint-up(lg) {
      font-size: calculateRem(70px);
      line-height: calculateRem(75px);
    }
  }

  &__title small {
    line-height: calculateRem(20px);
  }

  &__text {
    $text-lg: calculateRem(16px);
    $line-height-lg: calculateRem(19px);

    display: block;
    font-size: $text-lg;
    line-height: $line-height-lg;

    @include media-breakpoint-up(md) {
      font-size: calculateRem(14px);
      line-height: calculateRem(17px);
    }

    @include media-breakpoint-up(lg) {
      font-size: $text-lg;
      line-height: $line-height-lg;
    }
  }

  &__text-offset {
    position: relative;
    left: -8px;
  }
}
