<div class="promo">
  <div #slider class="promo__container swiper-container">
    <div class="promo__wrapper swiper-wrapper">
      <div *ngIf="smBreakpoint" class="swiper-slide">
        <b class="promo__title">20%</b>
        <div class="promo__text">скидка при аренде<br /> от 2х недель</div>
      </div>
      <div class="promo__item swiper-slide">
        <b class="promo__title">1<span class="promo__text-offset">0</span><small class="promo-text-offset">лет</small>
        </b>
        <div class="promo__text">опыта работы <br />в этой сфере</div>
      </div>
      <div class="promo__item swiper-slide">
        <b class="promo__title">20+</b>
        <div class="promo__text">единиц техники <br />в автопарке</div>
      </div>
      <div class="promo__item swiper-slide">
        <b class="promo__title">1<span class="promo__text-offset">00%</span></b>
        <div class="promo__text">гарантия быстрого<br /> обратного звонка</div>
      </div>
      <div class="promo__item swiper-slide">
        <b class="promo__title">24/7</b>
        <small class="promo__text">работаем без<br />выходных</small>
      </div>
    </div>
  </div>
</div>
