<div class="materials row">
  <div class="materials__content col col-sm-8 offset-sm-2 offset-md-3 offset-lg-3">
    <ul class="materials__list">
      <li class="materials__item">
        <svg-icon class="materials__icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="materials__text">
          Инертные материалы
          <br>
          <small>(Песок, Сланец, ПГС, Щебень...)</small>
        </div>
      </li>
      <li class="materials__item">
        <svg-icon class="materials__icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="materials__text">Дизельное топливо</div>
      </li>
    </ul>
    <button class="materials__btn btn btn--md" (click)="openModal()">Заказать</button>
  </div>
</div>

<app-modal *ngIf="modal" title="Продажа" (close)="closeModal()">
  <app-material-order-form body></app-material-order-form>
</app-modal>

