<div class="row">
  <div class="col col-sm-8 offset-sm-2 offset-md-3 offset-lg-3">
    <ul class="list list--materials">
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">
          Инертные материалы
          <br>
          <small>(Песок, Сланец, ПГС, Щебень...)</small>
        </div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Дизельное топливо</div>
      </li>
    </ul>
    <button class="btn btn--lg btn--materials" (click)="openModal()">Заказать</button>
  </div>
</div>

<app-modal *ngIf="modal" title="Продажа" (close)="closeModal()">
  <app-material-order-form body></app-material-order-form>
</app-modal>

