@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.materials {
  margin-bottom: 60px;

  @include media-breakpoint-up(sm) {
    height: 400px;
    background-image: url("src/assets/img/bg/sand-width-barrel.jpg");
    background-repeat: no-repeat;
    background-position: 150% 100%;
    background-size: 93% auto;
  }

  @include media-breakpoint-up(md) {
    height: 450px;
    background-position: 71% 100%;
    background-size: 78% auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  &__list {
    margin: 10px 0 40px 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
  }

  &__icon {
    vertical-align: middle;
    fill: $yellow;
  }

  &__text {
    margin-left: 10px;
    font-size: calculateRem(16px);
    line-height: calculateRem(21px);
    display: inline-block;
    vertical-align: middle;
  }

  &__text small {
    color: rgba($gray-dark, 0.6);
  }

  &__btn {
    margin-left: 35px;
  }
}
