<header class="page-header">
  <div class="page-header-container container">
    <nav class="page-header-nav">
      <a href="#" class="page-header-logo">Logo</a>
      <ul class="page-header-list">
        <li routerLinkActive="active">
          <a routerLink='.' fragment='transport'>Аренда техники</a>
        </li>
        <li>
          <a routerLink='.' fragment='services'>Услуги</a>
        </li>
        <li>
          <a routerLink='.' fragment='services'>Материалы</a>
        </li>
        <li>
          <a routerLink='.' fragment='about'>О нас</a>
        </li>
        <li>
          <a href="#">Цены</a>
        </li>
        <li>
          <a routerLink='.' fragment='contacts'>Контакты</a>
        </li>
      </ul>
    </nav>
    <svg-icon class="page-header-img"  [src]="'/assets/img/svg/excovators.svg'"></svg-icon>
    <div class="row">
      <div class="col-8">
        <div class="page-header-heading">
          <h1 class="page-header-title">Нужна <br />спецтехника?</h1>
          <small>в Хабаровске или крае</small>
        </div>
        <p class="page-header-promo">У нас большой автопарк<br />Мы поможем реализовать <br />проект любой сложности<br />с минимальными затратами.</p>
        <div class="page-header-btn">
          <a href="#" class="btn btn--inverse btn--lg">Позвоните нам</a>
        </div>
      </div>
    </div>
    <div class="page-header-features">
      <div class="swiper swiper--features swiper--header-features">
        <div #slider class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <small class="page-header-text">
                <b>10 лет</b>
                <br />
                опыта работы <br />на рынке спецтехники
              </small>
            </div>
            <div class="swiper-slide">
              <small class="page-header-text">
                <b>150+</b>
                <br />
                единиц техники <br />в автопарке
              </small>
            </div>
            <div class="swiper-slide">
              <small class="page-header-text">
                <b>100%</b>
                <br />
                подача техники <br />в день обращения
              </small>
            </div>
            <div class="swiper-slide">
              <small class="page-header-text">
                <b>24/7</b>
                <br />
                Работаем круглосуточно <br />без выходных
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-header-sale">
      <b>20%</b>
      скидка при аренде от 2х недель
    </div>
  </div>
</header>
