<header class="page-header">
  <div class="container">
    <div class="page-header-toolbar">
      <a href="" class="page-header-logo">Logo</a>
      <ul class="page-header-contacts">
        <li>
          <b>Позвоните нам</b>
          <a href="#">+79510277322</a>
        </li>
        <li>
          <b>E-Mail</b>
          <a href="#">worknekki@gmail.com</a>
        </li>
        <li>
          <b>Рабочие часы</b>
          <small>Пн-пт 09:00 - 20:00</small>
        </li>
      </ul>
    </div>
    <nav class="page-header-nav">
      <ul class="page-header-list">
        <li routerLinkActive="active">
          <a routerLink='.' fragment='transport'>Аренда техники</a>
        </li>
        <li>
          <a routerLink='.' fragment='services'>Услуги</a>
        </li>
        <li>
          <a routerLink='.' fragment='about'>О нас</a>
        </li>
        <li>
          <a routerLink='.' fragment='contacts'>Контакты</a>
        </li>
        <li>
          <a href="#">Информация по ценам</a>
        </li>
      </ul>
    </nav>
    <div class="page-header-content">
      <small>Аренда и услуги</small>
      <h1>Д.Т.С</h1>
      <p>в Хабаровске</p>
    </div>
  </div>
</header>
