@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.page-header {
  position: relative;
  padding-bottom: 165px;
  width: 100%;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    padding-bottom: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: -207px;
    left: -50px;
    right: -113px;
    height: 773px;
    background-color: #efcd4f;
    background-image: linear-gradient(-25deg, #efcd4f 20%, #f5da77);
    transform: rotate3d(0, 0, 1, 10deg);

    @include media-breakpoint-up(sm) {
      height: 876px;
      transform: rotate3d(0, 0, 1, 10deg);
    }

    @include media-breakpoint-up(md) {
      height: 865px;
      transform: rotate3d(0, 0, 1, 10deg);
    }

    @include media-breakpoint-up(lg) {
      height: 861px;
      transform: rotate3d(0, 0, 1, 7deg);
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -2;
    width: 75vw;
    height: 130vw;
    bottom: 208px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("src/assets/img/svg/header.svg");
    background-repeat: no-repeat;
    opacity: 0.2;

    @include media-breakpoint-up(sm) {
      top: -45px;
      right: -45px;
      bottom: 110px;
      left: -30px;
      width: unset;
      height: unset;
      background-image: url("src/assets/img/svg/scoop.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 15vw 60px;
      opacity: 0.1;
      transform: rotate3d(0, 0, 1, 7deg);
      display: none;
    }

    @include media-breakpoint-up(md) {
      background-size: 110% auto;
      background-position: 7vw 65px;
    }

    @include media-breakpoint-up(lg) {
      bottom: 115px;
      display: block;
      background-size: 88% auto;
      background-position: 15vw 35px;
    }

    @include media-breakpoint-up(xl) {
      background-size: 1230px auto;
      background-position: calc(50% + 138px) -47px;
    }
  }

  &__container {
    position: relative;
    min-height: 440px;

    @include media-breakpoint-up(sm) {
      min-height: 672px;
    }
  }

  &__heading h1 {
    margin-top: 20px;
    font-size: 35px;
    line-height: 40px;
    color: $white;
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
      font-size: 55px;
      line-height: 60px;
      text-align: left;
    }
  }

  &__heading small {
    position: relative;
    margin-top: -20px;
    display: block;
    font-size: 16px;
    text-align: center;

    @include media-breakpoint-up(sm) {
      margin-top: -30px;
      text-align: left;
    }
  }

  &__promo {
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    text-align: center;

    @include media-breakpoint-up(sm) {
      margin-top: 55px;
      margin-bottom: 50px;
      text-align: left;
    }

    @include media-breakpoint-up(md) {
      font-size: 19px;
      line-height: 24px;
    }
  }

  &__sale {
    position: absolute;
    top: 310px;
    right: 0;
    left: 0;
    display: none;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $white;

    @include media-breakpoint-up(sm) {
      top: unset;
      bottom: 62vw;
      right: 30px;
      left: unset;
      width: 160px;
      display: block;
    }

    @include media-breakpoint-up(md) {
      right: 60px;
      bottom: 440px;
    }

    @include media-breakpoint-up(lg) {
      bottom: 485px;
      right: 85px;
    }

    @include media-breakpoint-up(xl) {
      bottom: 510px;
    }
  }

  &__sale b {
    display: block;
    font-size: 60px;
    line-height: 65px;

    @include media-breakpoint-up(md) {
      font-size: 65px;
      line-height: 70px;
    }
  }

  &__footer {
    position: absolute;
    bottom: -150px;
    left: 20px;
    right: 20px;

    @include media-breakpoint-up(sm) {
      bottom: 0;
    }
  }

  &__img {
    display: none;

    @include media-breakpoint-up(sm) {
      position: absolute;
      z-index: -1;
      bottom: 98%;
      right: 25px;
      width: 52vw;
      height: auto;
      display: block;
    }

    @include media-breakpoint-up(lg) {
      width: 500px;
    }
  }

  ::ng-deep &__img svg {
    width: inherit;
    height: inherit;
  }

  &__btn {
    text-align: center;

    @include media-breakpoint-up(sm) {
      text-align: left;
    }
  }
}

