@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.page-header {
  position: relative;
  padding-bottom: 135px;
  width: 100%;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    padding-bottom: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: -207px;
    left: -50px;
    right: -113px;
    height: 745px;
    background-color: #efcd4f;
    //background-image: url("src/assets/img/bg/texture.jpg");
    //background-repeat: ;
    transform: rotate3d(0, 0, 1, 7deg);

    @include media-breakpoint-up(sm) {
      height: 885px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background-image: url("src/assets/img/svg/scoop.svg");
    background-repeat: no-repeat;


    @include media-breakpoint-up(sm) {
      top: -45px;
      right: -45px;
      bottom: 110px;
      left: -30px;
      background-image: url("src/assets/img/svg/scoop.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 12vw 60px;
      opacity: 0.1;
      transform: rotate3d(0, 0, 1, 7deg);
    }

    @include media-breakpoint-up(md) {
      //background-size: 95% auto;
      //background-position: 16vw 60px;
    }

    @include media-breakpoint-up(lg) {
      background-position: 7vw -73px;
    }

    @include media-breakpoint-up(xl) {
      background-size: 1230px auto;
      background-position: calc(50% + 122px) -180px;
      background-position: calc(50% + 138px) -47px;
      //background: none;
    }
  }

  &-container {
    position: relative;
    min-height: 480px;

    @include media-breakpoint-up(sm) {
      min-height: 760px;
    }
  }

  &-logo {

  }

  &-contacts {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &-nav {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }
  }

  &-open {
    padding: 0;
    width: 30px;
    height: 30px;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 5px;
      background: $white;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        height: 5px;
        width: 100%;
        background: $white;
      }

      &::before {
        top: -10px;
      }

      &:after {
        top: 10px;
      }
    }

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 40px;
    display: none;
    background: $white;

    .page-header--menu-opened & {
      display: block;
    }

    @include media-breakpoint-up(sm) {
      position: static;
      padding: 0;
      display: block;
      background: none;
    }
  }

  &-close {
    position: absolute;
    z-index: 101;
    top: 0;
    right: 15px;
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: $orange;
    border: none;
    background: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &-list {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    list-style-type: none;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
      flex-direction: row;
      justify-content: center;
    }

  }

  &-list li {
    padding: 10px 20px;
    border-top: 1px dashed $gray;

    @include media-breakpoint-up(sm) {
      padding: 25px 10px;
      border: none;
    }

    &:last-child {
      border-bottom: 1px dashed $gray;

      @include media-breakpoint-up(sm) {
        border: none;
      }
    }
  }

  &-list a {
    font-size: 14px;
    color: $gray-dark;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  &-content small {
    display: block;
    font-size: 18px;
    line-height: 70px;
    color: $white;
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {

    }
  }

  &-heading h1 {
    margin-top: 20px;
    font-size: 35px;
    line-height: 40px;
    color: $white;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
      font-size: 55px;
      line-height: 60px;
    }

    //@include media-breakpoint-up(lg) {
    //  margin-top: 20px;
    //  font-size: 55px;
    //  line-height: 60px;
    //  color: $white;
    //  text-transform: uppercase;
    //}
  }

  &-heading small {
    position: relative;
    margin-top: -20px;
    display: block;
    font-size: 16px;

    @include media-breakpoint-up(sm) {
      margin-top: -30px;
    }
  }

  &-promo {
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;

    @include media-breakpoint-up(sm) {
      margin-top: 55px;
      margin-bottom: 50px;
    }

    @include media-breakpoint-up(md) {
      font-size: 19px;
      line-height: 24px;
    }

    //@include media-breakpoint-up(lg) {
    //  margin-top: 55px;
    //  margin-bottom: 50px;
    //  font-size: 20px;
    //  font-style: italic;
    //  line-height: 26px;
    //}
  }

  &-sale {
    position: absolute;
    top: 310px;
    right: 0;
    left: 0;
    display: none;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $white;

    @include media-breakpoint-up(sm) {
      //top: 280px;
      top: unset;
      bottom: 350px;
      right: 30px;
      left: unset;
      width: 160px;
    }

    @include media-breakpoint-up(md) {
      //top: 230px;
      right: 60px;
      bottom: 400px;
    }

    @include media-breakpoint-up(lg) {
      bottom: 480px;
      right: 80px;
    }

    b {
      display: block;
      font-size: 60px;
      line-height: 65px;

      @include media-breakpoint-up(lg) {
        font-size: 65px;
        line-height: 70px;
      }
    }

  }

  &-footer {
    position: absolute;
    bottom: -125px;
    left: 20px;
    right: 20px;

    @include media-breakpoint-up(sm) {
      bottom: 0;
    }
  }

  &-img {
    display: none;

    @include media-breakpoint-up(sm) {
      position: absolute;
      z-index: -1;
      bottom: 98%;
      right: 35px;
      width: 48vw;
      height: auto;
      display: block;
    }

    @include media-breakpoint-up(md) {
      //width: 410px;
    }

    @include media-breakpoint-up(lg) {
      width: 500px;
    }
  }

  &-features {
    //border: 1px solid red;
    margin: 0;
    padding: 25px 40px 35px 40px;
    //width: 100%;
    text-align: center;
    //display: flex;
    background-color: $white;
    border-radius: 20px;
    list-style: none;
    color: $gray-dark;
    box-shadow: 0 0 20px 0 rgba($black, 0.1);

    @include media-breakpoint-up(sm) {
      bottom: 0;
    }

    li {
      flex-basis: 25%;
      text-align: center;
    }

    b {
      display: block;
      font-size: 50px;
      line-height: 60px;
      color: $yellow;
    }

    small {
      display: block;
      font-size: 16px;
      line-height: 17px;

      //@include media-breakpoint-up(sm) {
      //  font-size: 15px;
      //  line-height: 17px;
      //}
      //
      //@include media-breakpoint-up(lg) {
      //  font-size: 16px;
      //  line-height: 19px;
      //}
    }

    &-icon {
      vertical-align: middle;
      fill: $yellow;
      //display: none;
    }
  }

  &-btn {
    text-align: center;

    @include media-breakpoint-up(sm) {
      text-align: left;
    }
  }
}

