@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.switcher {
  position: relative;
  display: flex;

  &__item {

    &:first-child {
      margin-right: 15px;
    }
  }

  &__label {
    position: relative;
    display: block;
    font-family: $font-family;
    font-size: calculateRem(14px);
    line-height: calculateRem(16px);
    color: rgba($gray-dark, 0.5);
    cursor: pointer;

    display: flex;
    align-items: center;

    &::before {
      content: '';
      margin-right: 5px;
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 1px solid rgba($gray-dark, 0.3);
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 9px;
      height: 9px;
      display: none;
      background-color: rgba($gray-dark, 0.3);
      border-radius: 50%;
    }
  }

  input {
    display: none;
  }

  input:checked ~ &__label {

    &::before,
    &::after {
      border-color: $yellow;
    }

    &::after {
      display: block;
      background-color: $yellow;
    }
  }
}
