<div class="contacts">
  <div class="contacts-inner row">
    <div class="contacts-content col-12 col-md-7 col-lg-8">
      <app-map></app-map>
    </div>
    <div class="contacts-content col-12 col-md-5 col-lg-4">
        <app-contact-box icon="place" title="Адрес" text="680510, Хабаровский край,<br /> с. Тополево, ул. Центральная 2, лит.С"></app-contact-box>
        <app-contact-box icon="mail" title="Эл. Почта" text="ecoterra.npk@gmail.com" href="mailto: ecoterra.npk@gmail.com"></app-contact-box>
        <app-contact-box icon="phone" title="Телефон" text="+7 (4212) 47-89-13" href="tel: +7(4212)47-89-13"></app-contact-box>
        <app-contact-box icon="clock" title="Время работы" text="Пн - Пт. 9.00 - 20.00"></app-contact-box>
    </div>
  </div>
</div>
