<div class="contacts">
  <div class="row">
    <div class="contacts-content col-8">
      <app-map></app-map>
    </div>
    <div class="contacts-content col-4">
      <app-contact-box icon="place" title="Адрес" text="680510, Хабаровский край, с. Тополево, ул. Центральная 2, лит.С"></app-contact-box>
      <app-contact-box icon="mail" title="Эл. Почта" text="worknekki@gmail.com" href="mailto: worknekki@gmail.com"></app-contact-box>
      <app-contact-box icon="phone" title="Телефон" text="+79510277322" href="tel: +79510277322"></app-contact-box>
      <app-contact-box icon="clock" title="Время работы" text="Пн - Пт. 9.00 - 20.00"></app-contact-box>
    </div>
  </div>
</div>
