@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.transport-box {
  position: relative;
  background-color: rgba($gray, 0.15);

  &-img {
    width: 100%;
    height: auto;
    display: inline-block;
    transition: all 0.2s ease-in;

    .transport-box:hover & {
      //filter: blur(5px);
    }
  }

  &-svg {
    width: auto;
    height: 200px;
  }

  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba($black, 0.8);
    transition: background-color 0.25s ease-in;

    @include media-breakpoint-up(sm) {
      align-items: flex-start;
      background-color: transparent;
    }

    .transport-box--right & {
      @include media-breakpoint-up(sm) {
        align-items: flex-end;
      }
    }

    .transport-box:hover & {
      //background-color: rgba($gray-dark, 0.9);
    }
  }

  &-title {
    margin: 0;
    margin-bottom: 10px;
    font-family: $font-family;
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @include media-breakpoint-up(sm) {
      text-align: unset;
      color: $gray-dark;
    }
  }

  &-label {
    color: $white;

    @include media-breakpoint-up(sm) {
      color: $gray-dark;
    }
  }

  &-btn {
    margin-top: 25px;
    margin-bottom: auto;
    opacity: 1;
    order: 3;
    transition: all 0.3s ease-in;

    @include media-breakpoint-up(sm) {
      opacity: 0;
    }

    .transport-box:hover & {
      opacity: 1;
    }
  }
}

