@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.transport-box {
  position: relative;
  background-color: rgba($gray, 0.15);

  &-img {
    width: 100%;
    height: auto;
    display: inline-block;
    transition: all 0.2s ease-in;

    .transport-box:hover & {
      //filter: blur(5px);
    }
  }

  &-svg {
    width: auto;
    height: 200px;
  }

  &-overlay {
    position: relative;
    //padding: 40px;
    padding: 15px;
    //padding-bottom: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #535252;
    transition: background-color 0.25s ease-in;

    //@include media-breakpoint-up(sm) {
    //  align-items: flex-start;
    //  justify-content: flex-start;
    //  background-color: transparent;
    //}

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 17px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      background-color: transparent;
    }

    @include media-breakpoint-up(lg) {
      padding: 30px;
    }

    @include media-breakpoint-up(xl) {
      padding: 40px;
    }

    .transport-box--right & {
      @include media-breakpoint-up(md) {
        align-items: flex-end;
        text-align: right;
      }
    }

    .transport-box:hover & {
      //background-color: rgba($gray-dark, 0.9);
    }
  }

  &-title {
    margin: 0;
    margin-bottom: 10px;
    flex-basis: 100%;
    font-family: $font-family;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: $white;

    @include media-breakpoint-up(sm) {
      font-size: 15px;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 5px;
      flex-basis: auto;
      font-size: 19px;
      color: $gray-dark;
      text-align: unset;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 7px;
      font-size: 24px;
    }
  }

  ::ng-deep &-title span {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  &-label {
    position: relative;
    top: -5px;
    font-size: 14px;
    line-height: 16px;
    color: $white;

    @include media-breakpoint-up(sm) {
      top: -10px;
      font-size: 12px;
    }

    @include media-breakpoint-up(md) {
      position: static;
      font-size: 14px;
      color: rgba($gray-dark, 0.7);
    }

    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }
  }

  &-btn {
    align-self: center;
    opacity: 1;
    order: 3;
    transition: all 0.3s ease-in;

    @include media-breakpoint-up(md) {
      margin-top: 15px;
      align-self: unset;

      opacity: 0;

        ::ng-deep [data-whatintent='touch'] {
          opacity: 1;
        }
    }

    @include media-breakpoint-up(lg) {
      margin-top: 20px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 25px;
    }

    ::ng-deep [data-whatintent='mouse'] .transport-box:hover & {
      opacity: 1;
    }
  }
}

