@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.loader {
  width: 100%;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($gray, 0.5);

  :host-context(.loader--form) & {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: $white;
  }

  :host-context(.loader--sm) & {
    height: 100px;
  }

  :host-context(.loader--invert) & {
    background-color: $white;
  }

  &:not(&--services) {
    @include media-breakpoint-up(sm) {
      height: 68.5vw;
    }

    @include media-breakpoint-up(md) {
      height: 33vw;
    }

    @include media-breakpoint-up(lg) {
      height: 388px;
    }
  }

  svg {
    width: 100px;
    height: 100px;
    stroke: $white;

    :host-context(.loader--form) & {
      stroke: $gray;
    }

    :host-context(.loader--invert) & {
      stroke: $gray;
    }

    :host-context(.loader--sm) & {
      width: 50px;
      height: 50px;
    }
  }
}
