<div class="row">
  <div class="col col-lg-5">
    <ul class="list list--transport-features">
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Техника ведущих марок</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">При первой аренде доставим бесплатно</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Доставка в течении нескольких часов</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Аренда почасовая долгосрочная</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Вся техника обслужена</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Вся техника укомплектована</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Вся техника заправлена</div>
      </li>
    </ul>
    <div class="u-show-lg u-mgl-lg">
      <a [routerLink]="['transport', 'tippers']" fragment="transport" class="btn btn--transport btn--lg">Все варианты</a>
    </div>
  </div>
  <div class="col col-lg-7">
    <div class="swiper swiper--transport">
      <div #slider class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <app-transport-box name="tippers" price="10000" title="Cамосвалы" labelPosition="right"></app-transport-box>
          </div>
          <div class="swiper-slide">
            <app-transport-box name="tractors" price="25000" title="Тракторы"></app-transport-box>
          </div>
          <div class="swiper-slide">
            <app-transport-box name="excovators" price="40000" title="Эксковаторы"></app-transport-box>
          </div>
          <div class="swiper-slide">
            <app-transport-box name="f-loaders" price="70000" title="Фронтальные погрузчики"></app-transport-box>
          </div>
          <div class="swiper-slide">
            <app-transport-box name="bulldozers" price="70000" title="Бульдозеры"></app-transport-box>
          </div>
        </div>
      </div>
      <button id="transport-btn-left" class="swiper-btn swiper-btn--left">&nbsp;</button>
      <button id="transport-btn-right" class="swiper-btn swiper-btn--right">&nbsp;</button>
      <div id="transport-pagination" class="swiper-pagination"></div>
    </div>
    <div class="u-text-align-center u-hide-lg u-mgt--xl">
      <a [routerLink]="['transport', 'tippers']" fragment="transport" class="btn btn--transport btn--lg">Все варианты</a>
    </div>
  </div>
</div>
