<div class="row">
  <div class="col col-lg-5">
    <ul class="list list--transport-features">
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Техника ведущих марок</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">При первой аренде доставим бесплатно</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Доставка в течении нескольких часов</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Аренда почасовая долгосрочная</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Вся техника обслужена</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Вся техника укомплектована</div>
      </li>
      <li>
        <svg-icon class="list-icon" [src]="'/assets/img/svg/ok-sm.svg'"></svg-icon>
        <div class="list-text">Вся техника заправлена</div>
      </li>
    </ul>
    <div class="u-show-lg u-mgl-lg">
      <a routerLink="." fragment="transport" class="btn btn--transport btn--lg" (click)="openModal()">Все варианты</a>
    </div>
  </div>
  <div class="col col-lg-7">
    <div class="swiper swiper--transport">
      <div *ngIf="promoItems; else loading">
        <div #slider class="swiper-container">
          <div class="swiper-wrapper">
            <div *ngFor="let item of promoItems" class="swiper-slide">
              <app-transport-box [data]="item" (onChange)="setTransportData($event); openModal()"></app-transport-box>
            </div>
          </div>
        </div>
        <button id="transport-btn-left" class="swiper-btn swiper-btn--left">&nbsp;</button>
        <button id="transport-btn-right" class="swiper-btn swiper-btn--right">&nbsp;</button>
        <div id="transport-pagination" class="swiper-pagination"></div>
      </div>
    </div>
    <div class="u-text-align-center u-hide-lg u-mgt--xl">
      <a routerLink="." fragment="transport" class="btn btn--transport btn--lg" (click)="openModal()">Все варианты</a>
    </div>
    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>

<app-modal *ngIf="modalIsOpen" [title]="transportId ? 'Аренда ' + this.formatTitle() : 'Выберите транспорт'" (close)="closeModal()"  cssMod="modal--transport">
  <div header *ngIf="transportId">
    <small>Цена за сутки от: <b>{{transportPrice | currency: 'RUB':'symbol-narrow':'4.0':'ru'}}</b></small>
    <small>Цена за доставку: <b>договорная</b></small>
    <div class="modal-contact">
      <small>Наш телефон:</small>
      <b><a href="tel:+79510277322">+79510277322</a></b>
    </div>
  </div>
  <app-transport-page-details body (onChange)="setTransportData($event)" [transportId]="transportId"></app-transport-page-details>
<!--  <app-service-order-form [serviceTitle]="serviceTitle" [serviceList]="serviceList"></app-service-order-form>-->
</app-modal>
