/* You can add global styles to this file, and also import other style files */
/* You can add utils styles to this file, and also import other style files */

@charset 'utf-8';
@import '~swiper/css/swiper.min.css';

//core
@import 'assets/scss/core/functions';
@import 'assets/scss/core/mixins';
@import 'assets/scss/core/utils';
@import 'assets/scss/core/breakpoints';
@import 'assets/scss/core/animations';

//settings
@import 'variables';
@import 'assets/scss/settings';

//libs
@import 'assets/scss/core/libs';

// @import 'global/typography';
@import 'assets/scss/core/fonts';

//utils
@import 'assets/scss/utils';

//grid
@import "assets/scss/grid-framework/grid-framework";
@import "assets/scss/grid-framework/grid";
@import 'assets/scss/grid';

//common

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  font-size: 16px;
  line-height: 19px;
}

html.modal-opened {
  overflow: hidden;

  body {
    //overflow: hidden;
    //[data-whatintent='mouse'] & {
    //  position: fixed;
    //}

    //position: fixed;
  }
}

.features svg {
  display: inline-block;
  fill: $yellow;
  //display: none;
}

svg {
  width: inherit;
  height: inherit;
}

.modal-title small {
  display: block;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  line-height: 0px;

  &:first-of-type {
    margin-top: 25px;
  }
}

.modal-header small {
  display: block;
  font-size: 12px;
  color: rgba($gray-dark, 0.7);
  text-transform: none;
  font-weight: 400;
}

.modal-header b {
  color: $gray-dark;
}

//.mobile-menu--opened .page-header-menu {
//  display: block !important;
//}

//components
@import "assets/scss/components/link";
@import "assets/scss/components/input";
@import "assets/scss/components/dot";
@import "assets/scss/components/swiper";
@import "assets/scss/components/btn";
@import "assets/scss/components/form";
@import "assets/scss/components/page-section";
@import "assets/scss/components/ng-select";
@import "assets/scss/components/list";
@import "assets/scss/components/loading";
@import "assets/scss/components/table";
