<div #sliderWrapper class="swiper swiper--services" [class.swiper--loading]="itemsLoading">
  <div *ngIf="items;">
    <div #slider class="swiper-container">
      <div class="swiper-wrapper">
        <div *ngFor="let item of items" class="swiper-slide">
          <app-service-card [data]="item"  (onOpen)="openModal($event)"></app-service-card>
        </div>
      </div>
    </div>
    <div id="services-pagination" class="swiper-pagination"></div>
    <button id="services-btn-left" class="swiper-btn swiper-btn--left">&nbsp;</button>
    <button id="services-btn-right" class="swiper-btn swiper-btn--right">&nbsp;</button>
  </div>
  <app-loader *ngIf="itemsLoading" class="loader--absolute"></app-loader>
</div>
<app-modal *ngIf="modal" [title]="serviceData.name" (close)="closeModal()">
  <div header>
    <small>Цена за час от: <b>{{serviceData.price | currency: 'RUB':'symbol-narrow':'4.0':'ru'}}</b></small>
  </div>
  <app-service-order-form body [data]="serviceData"></app-service-order-form>
</app-modal>
