<div #sliderWrapper class="swiper swiper--services">
  <div *ngIf="items; else loading">
    <div #slider class="swiper-container">
      <div class="swiper-wrapper">
        <div *ngFor="let item of items" class="swiper-slide">
          <app-service-card [data]="item"  (onOpen)="openModal($event)">
            {{item.preview}}
          </app-service-card>
        </div>
      </div>
    </div>
    <div id="services-pagination" class="swiper-pagination"></div>
    <button id="services-btn-left" class="swiper-btn swiper-btn--left">&nbsp;</button>
    <button id="services-btn-right" class="swiper-btn swiper-btn--right">&nbsp;</button>
  </div>
</div>
<app-modal *ngIf="modal" [title]="serviceTitle" (close)="closeModal()">
  <div header class="modal-contact">
    <a href="tel:+79510277322">
      <svg-icon [src]="'/assets/img/svg/phone-circle.svg'"></svg-icon>
    </a>
    <div class="modal-contact-text">
      <small>Наш телефон:</small>
      <b><a href="tel:+79510277322">+79510277322</a></b>
    </div>
  </div>
  <app-service-order-form body [serviceTitle]="serviceTitle" [serviceList]="serviceList"></app-service-order-form>
</app-modal>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
