<section class="page-section">
  <div class="container">
    <h2 class="page-section-title">Аренда спецтехники</h2>
    <div class="row">
      <div class="col-4">
        <app-transport-promo img="tippers" title="Cамосвалы"></app-transport-promo>
      </div>
      <div class="col-4">
        <app-transport-promo img="excovators" title="Эксковаторы"></app-transport-promo>
      </div>
      <div class="col-4">
        <app-transport-promo img="buldozers" title="Бульдозеры"></app-transport-promo>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <app-transport-promo img="tractors" title="Тракторы"></app-transport-promo>
      </div>
      <div class="col-4">
        <app-transport-promo img="front-loaders" title="Погрузчики"></app-transport-promo>
      </div>
      <div class="col-4">
        <app-transport-promo img="timber-tracks" title="Автовышки"></app-transport-promo>
      </div>
    </div>
    <div class="page-section-footer">
      <a href="" class="btn btn--lg">Перейти ко всем вариантам</a>
    </div>
  </div>
</section>
