<div class="swiper swiper--features">
  <div #slider class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <app-feature-card text="Большой парк<br />собственной техники" marked="true"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Квалифицированный<br />персонал"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Наличие разрешений<br />и допусков на перевозку<br />опасных и негабаритных грузов"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Собственная<br />производственная база<br />и ремонтные боксы"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Отлаженная система<br />мобилизации техники"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Всегда на связи"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Общая система<br />налогооблажения"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Предусмотрены<br /> различные скидки и поощрения"></app-feature-card>
      </div>
    </div>
  </div>
  <div id="features-pagination" class="swiper-pagination"></div>
</div>
