<div class="swiper swiper--features">
  <div #slider class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <app-feature-card text="Большой парк собственной техники" marked="true"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Квалифицированный персонал"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Наличие разрешений и допусков на перевозку опасных и негабаритных грузов"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Собственная производственная база и ремонтные боксы"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Отлаженная система мобилизации техники"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Всегда на связи"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Общая система налогооблажения"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Предусмотрены различные скидки и поощрения"></app-feature-card>
      </div>
    </div>
  </div>
  <div id="features-pagination" class="swiper-pagination"></div>
</div>
