<div class="swiper swiper--features">
  <div #slider class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <app-feature-card text="Квалифицированный<br />персонал" name="group" marked="true"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Большой парк<br />собственной техники" name="crane"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Отлаженная система<br />мобилизации техники" name="order-processed" marked="true"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Собственная<br />производственная база<br />и ремонтные боксы" name="tools"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Наличие разрешений<br />и допусков на перевозку<br />опасных и негабаритных грузов" name="contract"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Мы всегда на связи" name="customer-service" marked="true"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Общая система<br />налогооблажения" name="tax"></app-feature-card>
      </div>
      <div class="swiper-slide">
        <app-feature-card text="Предусмотрены<br /> различные скидки и поощрения" name="gift" marked="true"></app-feature-card>
      </div>
    </div>
  </div>
  <div id="features-pagination" class="swiper-pagination"></div>
</div>
